* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}

body {
    background-color: black;
}

body header {
    padding: 15px;
    height: 5.5rem;
    background-color: black;
    display: flex;
    width: 100vw;
}

header img {
    height: 100%;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

header nav a {
    margin-right: 18px;
    color: cornsilk;
}

footer {
    width: 100%;
    height: 5.5rem;
    background-color: black;
    position: fixed;
    bottom: 0;
}

footer img {
    height: 100%;
    padding: 0.7rem;
}

main#fundo {
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../img/fundo.png);
    background-attachment: fixed;
    min-height: calc(100vh - 11rem);

}

main#fundonot {
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../img/fundonot.png);;
    min-height: calc(100vh - 11rem);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 75px;
    flex-wrap: wrap;
}



a:link{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

a:hover{
    color: rgb(0, 238, 255);
    text-decoration: underline rgb(255, 255, 255);
}

a#not2 {
    font-size: x-large;
}

a#not1 {
    font-size: large;
}
